.container1{
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.image{
    max-height: 350px;
}
.pagination{
    display: flex;
    justify-content:center ;
}
body{
    background-color:rgb(174, 174, 174) ;
}
